# Зависимости
node_modules/

# Build изход
dist/
dist-ssr/
*.local

# Capacitor / Android
android/
ios/
.gradle/
*.keystore
*.jks
keystore.properties

# Логове
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Редактор / ОС
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
